.bg-section {
  height: 100vh;
  background-image: url("/bg2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center; /* vertical center */
}

.form-box {
  background: rgba(192, 190, 190, 0.25);
  backdrop-filter: blur(8px);       
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  margin: auto;
}
.gradient-card {
 background: linear-gradient(
  135deg,
  #fff,
  rgba(192, 90, 252, 0.8)
);
  border: none;
  border-radius: 8px;
}

.product-img-wrapper {
  height: 200px;
  overflow: hidden;
}

.product-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.product-card:hover .product-img {
  transform: scale(1.5);
}


.active {
  color: red;
  font-weight: bold;
}

.heroContainer {
  background-image: url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e");
  height: 70vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
 .playBtn {
  width: 60px;
  height: 60px;
  border: 2px solid #0dcaf0;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.playBtn:hover {
  background-color: #0dcaf0;
  color: black;
}

.zoom-img {
  transition: transform 0.3s ease;
}

.zoom-img:hover {
  transform: scale(1.5);
}